@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");

* {
  font-family: "Bakbak One", cursive;
}

body {
  padding: 0;
  margin: 0;
  background-position: center;
  background-image: url("bg.svg");
}

.navbar1 {
  position: absolute;
  width: 100%;
  height: 69px;
  left: 0px;
  top: 0px;

  background: rgba(250, 205, 158, 0.8);
}
.navbar2 {
  position: absolute;
  width: 100%;
  height: 69px;
  left: 505px;
  top: 0px;

  background: #f77f00;
}

.col1 {
  position: absolute;
  width: 504px;
  height: 955px;
  left: 0px;
  top: 69px;
  background: red;
}

.col2 {
  position: absolute;
  width: 100%;
  height: 955px;
  left: 505px;
  top: 69px;

  background: #c4c4c4;
}
